.header {
  position: relative;
  margin: auto;
  width: 100%;
  // padding: 10px;
  h1 {
    margin: 50px 0;
    color: var(--text-primary);
    font-size: 24px;
  }

  .theme__btn__container {
    position: absolute;
    top: 45px;
    right: 20px;

    label {
      display: flex;
      width: 75px;
      height: 35px;
      justify-content: center;
      align-items: center;
      padding: 0 6px;
      background: #222;
      border-radius: 50px;
      cursor: pointer;
      position: relative;
      transition: 0.3s;
      .theme__btn--sun {
        color: gold;
        transition: 0.8s;
        margin-left: 16px;
        opacity: 1;
      }

      .theme__btn--moon {
        color: #fff;
        transition: 0.8s;
        opacity: 0;
        transform: translateX(43px) rotate(250deg);
      }

      .theme__btn--ball {
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        top: 5px;
        left: 5px;
        background: #fff;
        border-radius: 50%;
        transition: 0.8s;
      }
    }

    input:checked + label {
      background: #c0c0c0;
    }

    input:checked + label .theme__btn--sun {
      // transform: translateX(-32px);
      transform: translateX(-32px) rotate(160deg);
      opacity: 0;
    }
    input:checked + label .theme__btn--moon {
      transform: translateX(0) rotate(0);
      opacity: 1;
    }

    input:checked + label .theme__btn--ball {
      transform: translateX(40px);
      background: #222;
    }

    input {
      display: none;
    }
  }
}
